# Production API URL
# Leave blank to fallback to http://localhost:5000/api in development
VITE_API_URL=https://api.vsdox.com/api
VITE_FORM_SUBMIT_BASE_URL=https://formsubmit.co/ajax

VITE_AUTH_TOKEN_KEY=vsdox_token
VITE_AUTH_SESSION_KEY=vsdox_session

VITE_COMPANY_NAME=Vir Softech Pvt. Ltd.
VITE_COMPANY_WEBSITE_URL=https://www.virsoftech.com

VITE_CONTACT_EMAIL=corp@virsoftech.com
VITE_CONTACT_SUPPORT_EMAIL=support@virsoftech.com
VITE_CONTACT_TOLL_FREE=18005717711
VITE_CONTACT_LANDLINE=0120 - 4325 497
VITE_CONTACT_WHATSAPP=9319086751
VITE_CONTACT_WHATSAPP_COUNTRY_CODE=91

VITE_SOCIAL_INSTAGRAM=https://www.instagram.com/virsoftech/
VITE_SOCIAL_YOUTUBE=https://www.youtube.com/c/VirSoftech
VITE_SOCIAL_FACEBOOK=https://www.facebook.com/virsoftech.official/
VITE_SOCIAL_LINKEDIN=https://in.linkedin.com/company/virsoftech
VITE_SOCIAL_X=https://x.com/virsoftech

VITE_ASSET_BLOG_COVER=https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=1000&auto=format&fit=crop
VITE_ASSET_BLOG_HERO=https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2400&auto=format&fit=crop
VITE_ASSET_REQUEST_DEMO_HERO=https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2340&auto=format&fit=crop
VITE_ASSET_ADMIN_LOGIN_BG=https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=90&w=1800&auto=format&fit=crop
